*{
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}
body{
    display: flex;
    position: relative;
}
.btn{
    background-color: #4385f5;
    border: solid 1px #4385f5;
    color: white;
    padding: 10px;
    -webkit-app-region: no-drag;
    background-repeat: 5px;
    box-shadow: 0 5px 20px -6px #4385f5;
    cursor: pointer;
}
.right{
    width: 100%;
    margin-left: 315px;
    padding-left: 40px;
    padding-top: 40px;
    background-color: #fff;
    min-height: 560px;
}
aside{
    width: 300px;
    background-color: rgba(241, 239, 238, 0.8);
    min-height: 100vh;
    height: 100%;
    padding-left: 15px;
    position: fixed;
}
h1{
    margin-top: 35px;
    margin-bottom: 40px;
}
header span{
    cursor: pointer;
    width: 15px;
    height: 15px;
    background: #f1c40f;
    border-radius: 100%;
}
header span:first-child{
background: #2ecc71;
}
header span:last-child{
background: #e74c3c;
}
header{
    position: absolute;
    right: 15px;
    top: 0;
    -webkit-app-region: no-drag;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 77px;
    height: 45px;
}
label{    
    -webkit-app-region: no-drag;
}
input[type=file]{
    width: 0px;
    height: 0px;
    -webkit-app-region: no-drag;
}
.right div{
    margin: 20px auto;

}
.right img{
    display: block;  
    -webkit-app-region: no-drag;  
    margin-bottom: 15px;
    max-width: 100%;
}
#creator{
    margin-top: 15px;
    display: inline-block;
}
#seconds{
    margin-left: 15px;
    min-width: 250px;
    padding-left: 10px;
}
.line{
    display: flex;
    margin-top: 15px;
    margin-bottom: 15px;
}
#imagesCre img{
    margin: 10px;
}
#imagesCre{
    width: 100%;
    overflow: auto;
}